
html {
margin: 0;
padding: 0;
background-color: Black;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


@font-face {
  font-family: MerchantFont2;
  src: url(MerchantFont2.ttf);
}



a {
text-decoration: none;
}
