
html {
margin: 0;
padding: 0;
background-color: Black;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

body {
   margin: 5%;
   vertical-align: middle;
}

@font-face {
  font-family: MerchantFont2;
  src: url(MerchantFont-2.ttf);
}

p {
  font-family: MerchantFont2;
  text-align: center;
  font-size: 3vw;
  color: white;
}

a {
text-decoration: none;
}
