
html {
margin: 0;
padding: 0;
background-color: Black;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

body {
   margin: 5%;
   vertical-align: middle;
}

@font-face {
  font-family: Merchant4x5-Regular.ttf;
  src: url(Merchant4x5-Regular.ttf);
}

p {
  font-family: myFirstFont;
  text-align: center;
}
